a {
	text-decoration: none;
}
a:link {
	color: mediumpurple;
}
a:visited {
	color: blueviolet;
}
a:hover {
	color: teal;
}
a:active {
	color: red;
}

body {
	background-color: #e6e2da;
	font-family: 'Playfair Display', serif:
}


h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
  text-align: center;
}

/*the above is just an example to link a google font onto your website, again there should be a little textbox if you scroll with text to copy paste onto here*/
/*coolors.co or w3 schools is a good place to find colors for css*/
/*you can also put in the hex code of a color you want in place of the css color names*/