* { box-sizing: border-box;}
body { margin: 0; }

/* pattern 1 css */

.p1-1 {
	width: 75px;
	height: 75px;
	background-color: rebeccapurple;
	float: left;
	opacity: .7;
	margin: -8px;
	transform: skew(10deg, 30deg);
}

.p1-2 {
	width: 75px;
	height: 75px;
	background-color: lightskyblue;
	float: left;
	opacity: .5;
	margin: -8px;
	border-radius: 50%;
	transform: skew(-30deg, 10deg);
}

.p1-3 {
	width: 75px;
	height: 75px;
	background-color: lightpink;
	float: left;
	opacity: .7;
	margin: -8px;
	transform: skew(10deg, 30deg);
}

.p1-4 {
	width: 75px;
	height: 75px;
	background-color: lightcoral;
	float: left;
	opacity: .7;
	margin: -8px;
	border-radius: 50%;
	transform: skew(-30deg, 10deg);
}

/* pattern 2 css */

.p2-1 {
	width: 150px;
	height: 75px;
	background-color: rgba(206, 227, 151, .8);
	border-radius: 50%;
	border: 3px dotted darkolivegreen;
	float: left;
	margin: -20px;
}

.p2-2 {
	width: 120px;
	height: 120px;
	background-color: rgba(141, 177, 171, .5);
	float: left;
	margin: -30px;
	transform: rotate(60deg);
}

.p2-3 {
	width: 120px;
	height: 120px;
	background-color: rgba(88, 119, 146, .8);
	float: left;
	margin: -30px;
	border: 3px solid darkslateblue;
}

/* pattern 3 css */

.p3-1 {
	width: 175px;
	height: 175px;
	float: left;
	opacity: .7;
	margin: -8px;
	border: 20px double rgba(169, 153, 133, .8);
}

.p3-2 {
	width: 75px;
	height: 75px;
	background-color: rebeccapurple;
	float: left;
	opacity: .7;
	margin: -8px;
}

.p3-3 {
	width: 75px;
	height: 75px;
	background-color: rebeccapurple;
	float: left;
	opacity: .7;
	margin: -8px;
} 

.p3-4 {
	width: 75px;
	height: 75px;
	background-color: rebeccapurple;
	float: left;
	opacity: .7;
	margin: -8px;
}